<%include partials/header%>
<div class="fluid-container" style="background-color:white;">
<div class="About" style="background-color:white">
  <div class="AboutPage">
  <h2 style="color:black; font-size:35px;font-weight: bolder;  text-align:center;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; padding-top:4%;margin-bottom:20px;"> Books Your Brain </h2>
    <p style="color:black;font-family: Cambria,Georgia,serif;">Welcome, as we all know how much reading books and good quality content
       can help you build your career. But we usually don"t like reading those
       lengthy books. Worry not, We got you covered. Here, at Books Your Brain
       we will be posting short summaries of one of the best self-improvement
       books and some great quality public posts. So Stay Tuned and Enjoy some
       Great Quality Reading Content.
       Cheers✌!!</p>
    </div>

    <div class="headWC"><h5 style="color: black; font-size:35px; font-weight: bolder;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; text-align:center; margin-top: 100px ;"> Meet Our Developers </h5></div>
    <div class="AboutCreator" style="margin-top:60px; display:inline-flex; ">
      <div class="mohitinfo">
        <div class="m-image" >
          <img src="/images/mohit1.jpg" alt= "mohit singh">
        </div>
        <p class="mname" style="color:black;text-align:center;font-weight: bolder;margin-top: 7%; padding-right:16%; line-height:1.8;	font-size: 25px;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Mohit Singh</p>
        <p class="mdesc" style="color:black;font-size: 18px;font-family: Cambria,Georgia,serif;"> <b>Frontend Developer and Freelancer</b><br><b>Role </b>: Frontend , Logo Designing , SEO<br><b>Connect</b> : <a href="#">Github</a> , <a href="#">Linkedin</a> , <a href="#">Upwork</a></p>
      </div>
      <div class="amitinfo" style="margin-left:10%;">
        <div class="a-image">
          <img src="/images/amit.jpeg" alt= "mohit singh">
        </div>
        <p class="aname" style="color:black;font-weight:bolder; margin-top: 7%; padding-right:16%; line-height:1.8;text-align:center;font-size:25px;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Amit Rawat</p>
        <p class="adesc" style="color:black;font-size: 18px;font-family: Cambria,Georgia,serif;"> <b>MERN Developer and Freelancer</b><br><b>Role</b> : Backend , Database Management <br><b>Connect</b> : <a href="#">Github</a> , <a href="#">Linkedin</a> , <a href="#">Upwork</a></p>
      </div>
    </div>
    <div class="headAA"> <h5 style="font-size:35px; font-weight:bolder;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;"> Our Authors </h5>  </div>

    <div class="AboutAuthors">

      <div class="authmohit">

        <img src="/images/mohit1.jpg" alt="Mohit Singh">
        <div class="AM"> <h6 style="color: black; font-size: 22px; font-weight:bold; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;"> Mohit Singh </h6></div>
        <p>                                      </p>

      </div>


      <div class="authashu">

        <img src="/images/ashu.jpg" alt="Ashutosh Jha">
        <div class="AJ"><h6 style="color: black; font-size: 22px; font-weight:bold; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;"> Ashutosh Jha </h6></div>
        <p>                                       </p>


      </div>


      <div class="authmanku">

        <img src="/images/manku1.jpg" alt="Mayank Kanware">
        <div class="MK"><h6 style="color: black; font-size: 22px; font-weight:bold; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;"> Mayank Kanware</h6></div>
        <p>                                       </p>
      </div>
  </div>

<div class="smediahandlers-heading">
  <p style="color: black; font-weight: bold;font-size:35px; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;"> Social Media Handlers</p></div>
  <div class="smediahandlers">
    <div class="makodi-titli">
        <img src = "/images/sonali1.jpg" >
        <div class="aboutS"><h6 style="color: black;  font-size: 25px;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; text-align:center; font-weight:bold;">Sonali Singh</h6></div>
    </div>

    <div class="bhatt">
        <img src = "/images/anuj2.jpg" alt="Anuj Bhatt">
        <div class="aboutA"><h6 style="color: black; font-style:monospace; font-size: 25px; text-align:center;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; font-weight:bold;">Anuj Bhatt</h6></div>
    </div>
  </div>
</div>
</div>
<%include partials/footer%>
