<% include partials/header%>
<div class="fluid-container" style="background-color:white;">
<div class="support-page" style="background-color:white">
		<div class="thanks">
				<h4 style="color:black; "> Thank You For Being With Us!!</h4>
				<div class="exp"><h6> Our Team At Books Your Brains does a lot of hard work to bring you guys the best experience and  best content possible.
					They Invest a lot of time in researching, writing, editing, and managing many other things behind the scence to provide some value in your life.
					 If you guys like our content and hard work then you guys can help and support us.</h6> </div>
		    </div>

		    <div class="sup">
					<div class="cof">  <h6> Buy Us A Coffee!!</h6> </div>
					<div class="paytm"> <img src="/images/paytm.jpeg" alt="Paytm QR Code"> </div>
		   	</div>

	       <div class="vision">
					 <h5> Our Vision </h5>
					 <h6> Our Vision at Books Your Brain is to provide you guys some best Quality Reading Content. We Provide Summaries of Some of the best Self-Improvement Books to help you improve your personality and grow in your carreer and Achieve Success. Along With Summaries we also provide information about Various Categories to keep you in touch with your surrounding.</h6>
				 </div>
		</div>
 </div>
<% include partials/footer%>
